/.cph
/.vscode
/A_Beautiful_Matrix.cpp
/A_Bit.cpp
/A_Boy_or_Girl.cpp
/A_Boy_or_Girl.exe
/A_Insert_Digit.cpp
/A_Insert_Digit.exe
/A_Is_It_a_Cat.cpp
/A_Next_Round.cpp
/A_Plus_or_Minus.cpp
/A_Recent_Actions.cpp
/A_Serval_and_Mocha_s_Array.cpp
/A_Team.exe
/A_Typical_Interview_Problem.cpp
/A_Word.cpp
/A_Word_Capitalization.cpp
/A_Word_Capitalization.exe
/B_Asterisk_Minor_Template.cpp
/B_Count_the_Number_of_Pairs.cpp
/B_Count_the_Number_of_Pairs.exe
/B_Grab_the_Candies.cpp
/B_Queue_at_the_School.cpp
/B_Serval_and_Inversion_Magic.cpp
/B_Stand-up_Comedian.cpp
/cf_2
/cf_2.cpp
/cf_2.exe
/codeforces.cpp
/codeforces.exe
/competitive.cpp
/competitive.exe
/C_1_Powering_the_Hero_easy_version.cpp
/C_Find_and_Replace.cpp
/findUniqueNo.cpp
/findUniqueNo.exe
/graph.cpp
/graph.exe
/G_1_Subsequence_Addition_Easy_Version.cpp
/hashing.cpp
/hashing.exe
/inputf.in
/intersectionArraySorted.cpp
/leet.cpp
/leet.exe
/outputf.in
/pass.cpp
/pass.exe
/prac.cpp
/prac.exe
/prac1.cpp
/prac1.exe
/practice.cpp
/practice.exe
/sample.cpp
/sample.exe
/solution.cpp
/solution.exe
/solutioncp_cf_cc.cpp
/sorting_algorithms.cpp
/sorting_algorithms.exe
/starter 63.exe
/starter56.cpp
/starter56.exe
/starter57.cpp
/starter57.exe
/starter59.cpp
/starter60.cpp
/starter60.exe
/starter63.cpp
/starter63.exe
/text.cpp
/ticket.pdf